ul.goods{
	
	list-style:none;
	margin:0;
	padding:0;
}

ul.goods li{
	display: inline-block;
	float: left;
	width:20%;
}

ul.goods li img{
	max-width:90%;
}
ul.goods li a{
	display: block;
	text-align: center;
}