div.product-window{
	width: 100%;
}
div.prod-image{
	width:70%;
	float: left;
	text-align: center;
}

div.prod-image img{
	max-width:90%;
}

div.prod-details{
	width:30%;
	float: right;
	
	background:#bee4dc;
	padding:20px;
	box-sizing: border-box;
}

div.prod-details .title{
	font-size:20px;
}

div.prod-details .price{
	font-size:20px;
	color:#e7275c;
}

div.prod-description{
	width:100%;
	clear: both;
}