div.product-window{
	width: 100%;
	background:#fff;
	margin-top:30px;
}
div.prod-image{
	width:70%;
	float: left;
	text-align: center;
}

div.prod-image img{
	max-width:90%;
	margin-top:5%;
}

div.prod-details{
	width:30%;
	float: right;
	
	background:#bee4dc;
	padding:20px;
	box-sizing: border-box;
}

div.prod-details .title{
	font-size:16px;
	line-height:2;
	font-weight: bold;
}

div.prod-details .price{
	font-size:16px;
	line-height:2;
	font-weight: bold;
	color:#e7275c;
}

div.prod-description{
	width:100%;
	clear: both;
	padding:20px;
}

div.prod-options{
	line-height:1.5;
	padding-bottom:15px;
}
div.prod-options span.title{
	font-size:16px;
	line-height:2;
	font-weight: bold;
}

ul.prod-attributes{
	margin:0px;
	padding:10px;
	padding-left:20px;
}

input.quantity{
	width: 50px;
	padding: 5px;
	margin-left: 5px;
}
div.cart-btn{
	padding: 5px;
	text-align: center;
	padding-top: 20px;
	border-top: 1px solid;
	margin-top: 25px;	
}
#go-to-cart-btn{
	display: none;
	margin:0 auto;
	text-decoration: none;
}