.floatfix:before,
.floatfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.floatfix:after {
    clear: both;
}

div.centered{
	margin: 0 auto;
	width:900px;
}

table.ecwidMainTable{
	width: 100%;
}
table.ecwidMainTable tr td{
	padding:0px;
	margin:0px;
}